*
!.gitignore
!.env
!.env.example
!umami.env.example
!*.sh
!*.ps1
!client/
!client/*.ps1
!server/
!server/*.sh
!*.yml
!Dockerfile.*
!README.md
!nginx/
!nginx/*.conf
!nginx-host/
!nginx-host/*.conf
certs/
runtime/
generated/
packages/
*.tar
*.zip
*.log
